# Compiled class files
*.class

# Log files
*.log

# Bytecode
*.jar

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Gradle files
.gradle/

# Maven files
target/
*.iml

# Mac OS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
